.addnew {
  &-form {
    padding: 20px;

    &-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 20px;
      position: relative;

      & > span {
        display: none;
      }

      label {
        font-size: 16px;
        text-transform: capitalize;

        &::after {
          content: "*";
          color: red;
        }
      }

      input,
      textarea {
        height: 50px;
        padding: 10px;
        border: $border;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
        transition: 0.3s;

        &:focus {
          border-color: $color-theme;
        }
      }

      textarea {
        height: 250px;
      }

      &.error {
        input,
        textarea {
          border-color: red;
        }

        & > span {
          display: block;
          position: absolute;
          left: 0;
          font-size: 10px;
          color: red;
          bottom: 5px;
        }
      }
    }

    button {
      background-color: $color-theme;
      padding: 10px 20px;
      border-radius: 4px;
      color: $color-white;
      font-size: 16px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
